html {
  background-color: #1a1a1c;

}

header {
  width: 80%;
  margin: 0% 20% 2% 20%;
  background-color: #1f1f21;
  border: 2px solid white;
  color: white;
}

body {
  border: 1px solid white;

}

main td {
  padding: 100px;
  border: 1px solid blue;
}

.contacts {
  padding-left: 10%;
  margin-top: 25px;
}

.contacts td {

  padding: 50px;
  border: 1px solid red;
}

main {
  border: 1px solid green;
  width: 80%;
  background-color: #1f1f21;
  padding-left: 10%;
}
